*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
font-family: Gilroy;
font-style: normal;
font-size: 20px;
}


/******Containing Header ******/
.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-brand {
    color:#FFA315;
}
.navlink a:hover {
    color: #FFA315;
}
.navbar-light .navbar-toggler {
  background-color: #FFA315;
  color: #fff;
}
.header-container {
position: relative;
width: 100%;
background: #242424;
}
.hero-section {
  margin-top: 20px;

}
.head-cont{
width: 395px;
height: 240px;
color:#FFA315;  
margin-top: 70px;
}

.head-cont h4 {
margin-top: 10px;
font-family: Gilroy;
font-style: normal;
font-weight: 800;
font-size: 16px;
line-height: 24px;
}
.head-cont h1{
margin-top: 20px;
font-family: Gilroy;
font-style: normal;
font-weight: 800;
font-size: 64px;
line-height: 60px;
}
.header-img {
  padding-left: 100px;
}
.header-img .img-fluid {
  width: 540px;
  height: 460px;
  }

.navigate {
  padding: 40px 0;
  color: #FFA315;
}
/**************************************/

/***************About Us*********************/
.about-us{
padding-top: 50px;
width: 100%;
background: #FFF1DD;
color: #000000;
}

.about-us hr {
margin: 0 auto;
width: 194px;
height: 0px;
border: 1px solid #000000;
}
 .tag{
     text-align: center;
 }

 section > h1,h2{
    font-family: Gilroy;
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 45px;
    color: #000000;
    padding: 20px 0;
 }
.about{
margin: 40px 10px;
width: 570px;
height: 303px;
}

.header {
    width: 100%;
    padding:100px;
    margin: auto;
  }
  
  .svg1 { 
    margin: 50px;
    fill: rgba(40, 40, 50, 0.3);
    stroke-width: 2;
    width: 100%;
    stroke-dasharray: 0 3000;
    animation: pulse1 3s linear infinite;
    z-index: 1;
  }
  
  @keyframes pulse1 {
    from {
      stroke-dasharray: 0 3000;
    }
    to {
      stroke-dasharray: 3000 0;
    }
  }
  
.about p {
font-family: Abel;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 30px;
color: #242424;
}
/********************************/

/**************What's Signal*****************/
.Signal-does {
    padding: 30px 0;
    color:#FFA315;
    background-color: #000000;
}
.signal-does h3 {
    padding: 10px;
font-family: Gilroy;
font-style: normal;
font-weight: 800;
font-size: 20px;
line-height: 30px;
color: #FFA315;
}
.signal-does p{
    font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
}
.tags {
font-family: Gilroy;
font-style: normal;
font-weight: 300;
font-size: 48px;
line-height: 60px;
color:#FFA315;
text-align: center;
}

.what-signal hr, .signal-does hr {
margin: 0 auto;
width: 194px;
height: 0px;
color:#FFA315;
}
/**********************************/

/**********Newsletter **************/
.newsletter {
width: 100%;
height: 400px;
background: #FFF1DD;
text-align: center;
color: #000000;

}

.form-inline {
    margin: auto 0;
}

.form-group .form-control{
    width: 400px;
}

.btn {
width: 161px;
height: 59px;
background: #FFA315;
} 

.format {
width: 568px;
height: 59px;
border: 1px solid #000000;
}


/****************Footer*********/


.footer {
  position: relative;
  background: #FFA315;;
  color: #000000;
  line-height: 1.8;
}


.footer p,
.footer ul li a {
font-style: normal;
font-weight: 800;
font-size: 24px;
line-height: 29px;
color: #000000;

}

.footer ul {
  list-style: none;
}

.footer ul li a {
  color: #000000;
  text-decoration: none;
}

.footer ul li a:hover {
  color: #fff;
  text-decoration: underline;
}

.footer p {
  font-weight: 300;
}

footer .top{
padding-top: 30px;
}


@media(max-width: 767px) {

  .copyright {
     text-align: center;
  }
}



@media (min-width: 1000px) {

  .footer .top p {
     max-width: 200px;
  }

}