@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
font-family: 'Lato', sans-serif;
font-style: normal;
font-size: 20px;
}

/*HERO SECTION*/
.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-brand {
    margin: 10px;
    color:#FFA315;
}
.header-container .nav-link:hover, .header-container .navbar-brand:hover {
  background-color: #be7b15;
  box-shadow:  0 0 100px #b67a20, 0 0 100px #bb7205;
  font-weight: bold;
  color: #FFf !important;
}

.navbar-light .navbar-toggler {
  background-color: #FFA315;
  color: #fff;
}
.header-container {
position: relative;
background: #242424;
}
.hero-section {
  height: 600px;
}

.head-cont{
padding-top: 90px;
color:#FFA315;
}

.head-cont h4 {
margin-top: 10px;
font-family:'Lato', sans-serif;
font-style: normal;
font-weight: 800;
font-size: 16px;
line-height: 24px;
}
.head-cont h1{
margin-top: 20px;
font-family: 'Lato', sans-serif;
font-style: normal;
font-weight: 800;
font-size: 64px;
line-height: 60px;
}

.navigate p {
font-family: Lato;
font-style: normal;
font-weight: 800;
font-size: 16px;
line-height: 19px;
color: #FFA315;
}

.navigate {
  position: absolute;
  bottom: 30px;
}

 .dwn-icon{
  margin: 20px;
  color: #FFA315 !important;
  background-color: #000000;
  }
  
/***************About Us*********************/
.about-us{
position: relative;
padding-top: 50px;
background: #FFF1DD;
color: #000000;
}
.about-us .img-fluid {
  background: #FFF1DD;
}
.about-us hr {
margin: 0 auto;
width: 194px;
height: 0px;
border: 1px solid #000000;
}
 .tag{
     text-align: center;
 }

 section > h1,h2{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 45px;
    color: #000000;
    padding: 20px 0;
 }
.about{
margin: 40px 10px;
width: 570px;
height: 303px;
}

.header {
    padding:100px;
    margin: auto;
  }
  
.about p {
font-family: 'Lato', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 30px;
color: #242424;
}
/********************************/

/**************What's Signal*****************/
.Signal-does {
padding: 30px 0;
color:#FFA315;
background-color: #000000;
}
.signal-does h3 {
padding: 10px;
font-family: 'Lato', sans-serif;
font-style: normal;
font-weight: 800;
font-size: 20px;
line-height: 30px;
color: #FFA315;
}
.signal-does p{
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
}
.tags {
font-family:'Lato', sans-serif;
font-style: normal;
font-weight: 300;
font-size: 48px;
line-height: 60px;
color:#FFA315;
text-align: center;
padding: 30px;
}
.signal-does .ben{
  padding: 20px;
}
.what-signal hr, .signal-does hr {
margin: 0 auto;
width: 194px;
height: 0px;
color:#FFA315;
}
/**********************************/

/**********Newsletter **************/
.newsletter {
height: 574px;
background: #FFF1DD;
text-align: center;
color: #000000;

}
.newsletter h3{
padding: 20px;
font-family:'Lato', sans-serif;
font-style: normal;
font-weight: 800;
font-size: 32px;
line-height: 48px;
text-align: center;
color: #000000;
}
.newsletter p {
font-family: 'Lato', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 30px;
}

.form-inline {
    margin: auto 0;
}

.form-group .form-control{
    width: 400px;
}

.btn {
width: 161px;
height: 59px;
background: #FFA315;
}

.btn:hover {
  background-color: #3d290a;
  box-shadow:  0 0 100px #f59404, 0 0 100px #9e6104;
  font-weight: bold;
  color: #FFf;
  border: 1px solid #ffffff;
}

.format {
width: 568px;
height: 59px;
border: 1px solid #000000;
}



/******PUBLISH*******/

.publicate {
  height: 649px;
  background: #FFFFFF;
}

.publicate h3 {
font-family: 'Lato' sans-serif;
font-style: normal;
font-weight: 800;
font-size: 32px;
line-height: 48px;
color: #242424;
padding: 100px;
}

/**FOOTER*/
.footer {
  position: relative;
  background: #FFA315;;
  color: #000000;
  line-height: 1.8;
}


.footer p,
.footer a {
font-family: 'Lato', sans-serif;
font-style: normal;
font-weight: 800;
font-size: 24px;
line-height: 29px;
color: #000000;
}

.footer ul {
  list-style: none;
}

.footer ul li a {
  color: #000000;
  text-decoration: none;
}

.footer ul li a:hover {
  color: #fff;
}

.footer p {
  font-weight: 300;
}

footer .top{
padding-top: 30px;
}



/*BALL POSITIONING*/

.ball {
  height: 52px;
  width: 52px;
  border-radius: 50%;
  border: 1px solid;
}
.balls {
  height: 29px;
  width: 29px;
  border-radius: 50%;
  border: 1px solid;
}
.ball1{
  background-color: #FFA315;
  position: absolute;
  bottom: 500px;
  right: 108px;
}
.ball2 {
  position: absolute;
  top: 400px;
  right: 600px;
  background: #00BCBC;
}
.ball3{
  background-color: #FFA315;
}


.ball4 {
  position: absolute;
  bottom: 30px;
  right:16px;
}

.ball5{
  position: absolute;
  top: 150px;
  left:100px;
  background-color: #FFA315;
}

.ball6 {
  position: absolute;
  top: 100px;
  left:8px;
}

.ball7{
  position: absolute;
  top: 170px;
  right:80px;
  background: #00BCBC
}

.ball8{
  position: absolute;
  bottom: 400px;
  right: 600px;
}



marquee {
font-family: 'Lato', sans-serif;
font-style: normal;
font-size: 20px;
font-weight: 500;
color: #FFA315;
}

.appscreen .carousel img {
  height: 500px;
}

.carousel-control-prev-icon, .carousel-control-next-icon{
  color:#000000;
  background-color: #FFA315;
}
/*MEDIA QUERY*/

@media (max-width: 768px){
  /* For mobile phones: */

  .head-cont{
    padding-top: 10px;
    }

  .hero-section {
    height: 800px;
    margin-top: 0;
  }

  input[type=submit], input[type=email]{
    width: 95%;
    margin: 0;
    margin-top: 10px;
  }
  .format-input{
    text-align: center;
    float: none;
    width: 100%;
  }
  ul{
    padding: 0;
  }
   li{
    margin: 10px auto;
    padding: 5px;
    float: none;
    display: inline-block;

  }
 }